In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Ecoli.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Columns: 107 entries, Num (Col 1) to Target (Col 107)
dtypes: float64(106), int64(1)
memory usage: 1.2 MB

In [4]:
df.describe()

,Num (Col 1),Num (Col 2),Num (Col 3),Num (Col 4),Num (Col 5),Num (Col 6),Num (Col 7),Num (Col 8),Num (Col 9),Num (Col 10),...,Num (Col 98),Num (Col 99),Num (Col 100),Num (Col 101),Num (Col 102),Num (Col 103),Nom (Col 104),Nom (Col 105),Nom (Col 106),Target (Col 107)
count,1399.000000,1389.000000,1388.000000,1382.000000,1390.000000,1404.000000,1396.000000,1385.000000,1394.000000,1395.000000,...,1382.000000,1392.000000,1383.000000,1388.000000,1383.000000,1402.000000,1363.000000,1394.000000,1355.000000,1500.000000
mean,-0.005962,-0.232230,0.032176,0.113505,0.011225,-0.011283,-0.024650,-0.082857,0.010081,-0.250461,...,0.069382,0.034920,0.007047,-0.001591,-0.011205,0.043293,0.015407,0.065997,0.131365,0.107333
std,2.969007,6.678722,1.406221,3.054413,0.571034,5.365769,7.309133,1.903097,0.858155,5.233479,...,3.330919,1.368965,1.149373,0.331594,1.619092,3.471363,0.123211,0.248366,0.337924,0.309640
min,-86.376526,-125.157202,-12.752880,-18.284831,-9.196194,-117.124297,-180.119334,-59.524123,-12.966194,-151.770832,...,-36.600604,-1.794563,-4.446604,-10.065948,-49.780064,-35.545671,0.000000,0.000000,0.000000,0.000000
25%,-0.352282,-0.855032,-0.249054,-0.331407,-0.094324,-0.677421,-0.644891,-0.222642,-0.152461,-0.667751,...,-0.671212,-0.287139,-0.684006,-0.032058,-0.279852,-0.452199,0.000000,0.000000,0.000000,0.000000
50%,0.002666,-0.079384,-0.001803,0.047192,-0.010714,-0.094933,-0.012264,-0.010715,-0.038435,-0.016915,...,-0.055557,-0.008052,0.093262,-0.002568,0.003445,-0.041959,0.000000,0.000000,0.000000,0.000000
75%,0.349101,0.762780,0.248299,0.390210,0.087044,0.570139,0.638046,0.183257,0.105235,0.689642,...,0.614446,0.252436,0.735218,0.028324,0.282124,0.392221,0.000000,0.000000,0.000000,0.000000
max,60.507712,118.597412,47.243586,92.650471,13.033466,159.344805,147.661342,2.100435,23.659124,3.943988,...,98.272760,46.621796,13.178435,5.752632,25.456065,106.374733,1.000000,1.000000,1.000000,1.000000

In [5]:
df.head()

,Num (Col 1),Num (Col 2),Num (Col 3),Num (Col 4),Num (Col 5),Num (Col 6),Num (Col 7),Num (Col 8),Num (Col 9),Num (Col 10),...,Num (Col 98),Num (Col 99),Num (Col 100),Num (Col 101),Num (Col 102),Num (Col 103),Nom (Col 104),Nom (Col 105),Nom (Col 106),Target (Col 107)
0,-0.564777,-0.015404,0.118426,-0.103909,-0.196312,0.024514,1.169839,0.398493,0.569329,0.247633,...,1.933925,-0.094288,0.235789,-0.026187,-0.483784,NaN,0.0,0.0,0.0,0
1,-0.268575,0.914558,-0.230507,-0.527371,-0.080745,-0.059902,-0.763669,0.038235,-0.192427,-0.692135,...,-0.352500,-0.503082,-1.856162,-0.013567,0.057459,0.087260,0.0,0.0,0.0,0
2,-0.760883,0.776163,-0.193133,-1.503840,-0.070239,-1.336964,-0.782618,0.082714,0.031681,-1.073164,...,0.445367,0.354260,-0.708162,-0.027058,0.025262,-0.186810,NaN,0.0,0.0,0
3,0.572942,0.585195,-0.381441,NaN,0.083342,0.451410,1.116012,-0.217285,-0.317147,NaN,...,0.698107,-0.637167,0.229040,NaN,NaN,-0.230290,0.0,0.0,0.0,0
4,1.171606,-0.661153,-0.145072,0.693215,-0.037934,1.923995,-0.601967,-0.548091,-0.071106,0.106609,...,0.499785,-0.134634,NaN,0.022780,NaN,-0.145992,0.0,0.0,0.0,0

In [6]:
class_0 = df.loc[df['Target (Col 107)']==0]

In [7]:
class_1 = df.loc[df['Target (Col 107)']==1]

In [8]:
df.columns

Index(['Num (Col 1)', 'Num (Col 2)', 'Num (Col 3)', 'Num (Col 4)',
       'Num (Col 5)', 'Num (Col 6)', 'Num (Col 7)', 'Num (Col 8)',
       'Num (Col 9)', 'Num (Col 10)',
       ...
       'Num (Col 98)', 'Num (Col 99)', 'Num (Col 100)', 'Num (Col 101)',
       'Num (Col 102)', 'Num (Col 103)', 'Nom (Col 104)', 'Nom (Col 105)',
       'Nom (Col 106)', 'Target (Col 107)'],
      dtype='object', length=107)

In [9]:
for i in df.columns:
    if 'Nom' in i:
        class_0[i].fillna((class_0[i].mode()), inplace=True)
        class_1[i].fillna((class_1[i].mode()), inplace=True)
    if 'Target' in i:
        continue
    else:
        class_0[i].fillna((class_0[i].mean()), inplace=True)
        class_1[i].fillna((class_1[i].mean()), inplace=True)

/opt/anaconda3/envs/infs7410/lib/python3.7/site-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [10]:
process_df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [11]:
process_df

,Num (Col 1),Num (Col 2),Num (Col 3),Num (Col 4),Num (Col 5),Num (Col 6),Num (Col 7),Num (Col 8),Num (Col 9),Num (Col 10),...,Num (Col 98),Num (Col 99),Num (Col 100),Num (Col 101),Num (Col 102),Num (Col 103),Nom (Col 104),Nom (Col 105),Nom (Col 106),Target (Col 107)
0,-0.564777,-0.015404,0.118426,-0.103909,-0.196312,0.024514,1.169839,0.398493,0.569329,0.247633,...,1.933925,-0.094288,0.235789,-0.026187,-0.483784,0.044136,0.000000,0.0,0.000000,0
1,-0.268575,0.914558,-0.230507,-0.527371,-0.080745,-0.059902,-0.763669,0.038235,-0.192427,-0.692135,...,-0.352500,-0.503082,-1.856162,-0.013567,0.057459,0.087260,0.000000,0.0,0.000000,0
2,-0.760883,0.776163,-0.193133,-1.503840,-0.070239,-1.336964,-0.782618,0.082714,0.031681,-1.073164,...,0.445367,0.354260,-0.708162,-0.027058,0.025262,-0.186810,0.017185,0.0,0.000000,0
3,0.572942,0.585195,-0.381441,0.159893,0.083342,0.451410,1.116012,-0.217285,-0.317147,-0.286264,...,0.698107,-0.637167,0.229040,-0.002212,-0.000451,-0.230290,0.000000,0.0,0.000000,0
4,1.171606,-0.661153,-0.145072,0.693215,-0.037934,1.923995,-0.601967,-0.548091,-0.071106,0.106609,...,0.499785,-0.134634,0.018681,0.022780,-0.000451,-0.145992,0.000000,0.0,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,-0.564028,-1.193427,-0.089955,0.199909,0.119888,-1.470592,0.383773,0.805394,-0.160146,-1.318268,...,-0.754874,-0.021499,0.287430,-0.004691,-0.076348,0.226418,0.000000,1.0,0.890411,1
1496,0.345550,-0.035327,0.352572,0.542053,0.135935,1.089617,0.243739,0.088908,-0.118637,-0.612499,...,-1.185483,-0.164267,0.827918,-0.014288,0.432713,-0.620464,0.000000,0.0,1.000000,1
1497,-0.664050,-0.570671,-0.106057,0.594339,0.005798,-0.985932,1.015249,0.047656,0.004091,1.120047,...,-1.972833,-0.086685,-2.200233,-0.024590,-0.667879,0.592121,0.000000,0.0,1.000000,1
1498,0.267670,1.955709,0.134469,0.115529,-0.222414,1.042023,-0.523209,-0.562915,-0.344110,-1.418329,...,0.088013,-0.316139,-1.421217,0.077477,0.233256,0.733994,0.000000,0.0,1.000000,1
1499,-0.491233,-1.213830,0.138924,-0.084914,-0.026625,-0.116389,1.052071,-0.113392,0.063591,-0.829200,...,0.073517,-0.224167,-0.958962,0.046076,0.329169,0.352975,0.000000,0.0,0.890411,1

In [12]:
X = process_df.drop('Target (Col 107)',axis=1)
y = process_df['Target (Col 107)']

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test,y_train, y_test = train_test_split(X,y,random_state=13, test_size=0.20,stratify=y,shuffle=True)

# Density Based Outlier Detection

In [14]:
from sklearn.neighbors import LocalOutlierFactor

In [15]:
lof = LocalOutlierFactor(n_neighbors=10)
pred_outlier = lof.fit_predict(X)

In [16]:
density_based_process_df = process_df.copy()
density_based_process_df['outlier_flag'] = pred_outlier

In [17]:
density_based_process_df = density_based_process_df.loc[density_based_process_df['outlier_flag'] == 1]

In [18]:
density_X = density_based_process_df.drop(['Target (Col 107)','outlier_flag'],axis=1)
density_y = density_based_process_df['Target (Col 107)']

In [19]:
X_train_density, X_test_density,y_train_density, y_test_density = train_test_split(density_X,density_y,random_state=13,
                                                                                   test_size=0.20,stratify=density_y,shuffle=True)

## Min-Max Norm

In [20]:
from sklearn.preprocessing import MinMaxScaler

In [21]:
min_max_scaler = MinMaxScaler()
density_minmax_X = min_max_scaler.fit_transform(X_train_density)

## Standardization

In [22]:
from sklearn.preprocessing import StandardScaler

In [23]:
std_scaler = StandardScaler()
density_std_X = std_scaler.fit_transform(X_train_density)

# Isolation Based Outlier Detection

In [24]:
from sklearn.ensemble import IsolationForest

In [25]:
iso_frt = IsolationForest(random_state=0)
iso_pred_outlier = iso_frt.fit_predict(X)

In [26]:
iso_based_process_df = process_df.copy()
iso_based_process_df['outlier_flag'] = iso_pred_outlier

In [27]:
iso_based_process_df = iso_based_process_df.loc[iso_based_process_df['outlier_flag'] == 1]

In [28]:
iso_X = iso_based_process_df.drop(['Target (Col 107)','outlier_flag'],axis=1)
iso_y = iso_based_process_df['Target (Col 107)']

In [29]:
X_train_iso, X_test_iso,y_train_iso, y_test_iso = train_test_split(iso_X,iso_y,random_state=13,
                                                                   test_size=0.20,stratify=iso_y,shuffle=True)

## Min-Max Norm

In [30]:
min_max_scaler = MinMaxScaler()
iso_minmax_X = min_max_scaler.fit_transform(X_train_iso)

## Standardization

In [31]:
std_scaler = StandardScaler()
iso_std_X = std_scaler.fit_transform(X_train_iso)

# No Outlier Detection

## Min-Max Norm

In [32]:
min_max_scaler = MinMaxScaler()
base_min_max_X = min_max_scaler.fit_transform(X_train)

## Standardization

In [33]:
std_scaler = StandardScaler()
base_std_X = std_scaler.fit_transform(X_train)

# 10-Fold cross validation for pre-processing

In [34]:
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB

d_tree = DecisionTreeClassifier(random_state=13)
gnb = GaussianNB()

In [35]:
def get_10fcv_score(model,X,y,word):
    scores = cross_val_score(model,X, y, cv=10,scoring='f1_macro')
    return print('Average F1 score of ', word, ':',round(scores.mean(),2))

## Decision Tree

In [36]:
# Contain Outliers
get_10fcv_score(d_tree,X_train,y_train,'No Processing')
get_10fcv_score(d_tree,base_min_max_X,y_train,'Min-Max Only')
get_10fcv_score(d_tree,base_std_X,y_train,'Standardize Only')

# Density-based Detection
get_10fcv_score(d_tree,X_train_density,y_train_density,'Density-based')
get_10fcv_score(d_tree,density_minmax_X,y_train_density,'Density-based - Min-Max')
get_10fcv_score(d_tree,density_std_X,y_train_density,'Density-based - Standardize')

# Isolation-based Detection
get_10fcv_score(d_tree,X_train_iso,y_train_iso,'Isolation-based')
get_10fcv_score(d_tree,iso_minmax_X,y_train_iso,'Isolation-based Min-Max')
get_10fcv_score(d_tree,iso_std_X,y_train_iso,'Isolation-based Standardize')

Average F1 score of  No Processing : 0.88
Average F1 score of  Min-Max Only : 0.88
Average F1 score of  Standardize Only : 0.88
Average F1 score of  Density-based : 0.9
Average F1 score of  Density-based - Min-Max : 0.9
Average F1 score of  Density-based - Standardize : 0.9
Average F1 score of  Isolation-based : 0.86
Average F1 score of  Isolation-based Min-Max : 0.86
Average F1 score of  Isolation-based Standardize : 0.86

From the 10-fold cross validation with decision tree, we have found that the density-based outlier detection perform better in average F1 scores than not removing the outliers and remove the outliers with isolated-based method.

Next Step, I am going to find which normalization method with density-based detection by using Naive Bayes as learner.

## Naive Bayes

In [37]:
# Density-based Detection
get_10fcv_score(gnb,X_train_density,y_train_density,'Density-based')
get_10fcv_score(gnb,density_minmax_X,y_train_density,'Density-based - Min-Max')
get_10fcv_score(gnb,density_std_X,y_train_density,'Density-based - Standardize')

Average F1 score of  Density-based : 0.67
Average F1 score of  Density-based - Min-Max : 0.54
Average F1 score of  Density-based - Standardize : 0.49

From 10-fold cross validation using Naive Bayes learner, the average F1 score shows that using density-based outlier detection  without normalization has the best score among all combinations.

# 10-fold Cross Validation for learner selection

In [38]:
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier, VotingClassifier

d_tree = DecisionTreeClassifier(random_state=13)
gnb = GaussianNB()
knn = KNeighborsClassifier(
) # default at 5
rf = RandomForestClassifier(random_state=13)
emb_vote = VotingClassifier(estimators=[('gnb', gnb), ('knn', knn), ('d-tree', d_tree)])

## Average F-1 Score

In [39]:
get_10fcv_score(d_tree,X_train_density,y_train_density,'Decision Tree')
get_10fcv_score(gnb,X_train_density,y_train_density,'Navie Bayes')
get_10fcv_score(knn,X_train_density,y_train_density,'K-NN')
get_10fcv_score(rf,X_train_density,y_train_density,'Random Forest')
get_10fcv_score(emb_vote,X_train_density,y_train_density,'Emsemble')

Average F1 score of  Decision Tree : 0.9
Average F1 score of  Navie Bayes : 0.67
Average F1 score of  K-NN : 0.5
Average F1 score of  Random Forest : 0.84
Average F1 score of  Emsemble : 0.9

From the 10-fold cross validation for the learners with sklearn default setting, decision tree and the ensemble learner with Naive Bayes, K Nearest Neighbors and decision tree have highest average score on F1. Thus, we are going to evaluate this two learners with balanced accuracy metrics.

In [40]:
scores = cross_val_score(d_tree,X_train_density, y_train_density, cv=10,scoring='balanced_accuracy')
print('Average accuracy score of ', 'Dtree', ':',round(scores.mean(),2))

Average accuracy score of  Dtree : 0.9

In [41]:
scores = cross_val_score(emb_vote,X_train_density, y_train_density, cv=10,scoring='balanced_accuracy')
print('Average accuracy score of ', 'Emsemble', ':',round(scores.mean(),2))

Average accuracy score of  Emsemble : 0.91

From the average balanced accuracy, we can find that the emsemble learner has a slightly higher accuracy but not much differrence. The emsemble model has increase the complexity while not improving much in the prediction power. Thus, I will choose decision tree as the learner to be used and optimized.

# Model Fine Tuning

In this section, I will fine tune the hyperparameter of decision tree and validate with the test set

In [42]:
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, f1_score, precision_score, recall_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

In [43]:
def d_tree_cv_tune(measure,split,depth,node):
    d_tree = DecisionTreeClassifier(random_state=13, 
                                    criterion=measure,splitter = split, max_depth = depth,max_leaf_nodes=node)
    score = cross_val_score(d_tree,X_train_density, y_train_density, cv=10,scoring='f1_macro')
    return score.mean()

In [44]:
d_tree_cv_tune('entropy','random',4,None)

0.9094545013575631

In [45]:
d_tree_cv_tune('gini','random',3,None)

0.9101930510069209

In [46]:
d_tree_cv_tune('gini','best',1,None)

0.9089414372972365

In [47]:
d_tree_cv_tune('entropy','best',2,None)

0.9097027587999588

In [60]:
def d_tree_tuning(X_train_density,y_train_density,X_test_density,y_test_density,measure,split,depth):
    d_tree = DecisionTreeClassifier(random_state=13, 
                                    criterion=measure,splitter = split, max_depth = depth)
    d_tree.fit(X_train_density,y_train_density)
    pred_y = d_tree.predict(X_test_density)
    
    print('Accuracy:',balanced_accuracy_score(y_test_density, pred_y))
    
    conf_mat = pd.DataFrame(confusion_matrix(y_test_density, pred_y))
    conf_mat.columns =['Predicted Positive', 'Predicted Negative']
    conf_mat.index = ['True Positive', 'True Negative']
    
    print('Precision:',precision_score(y_test_density, pred_y,average='macro'))
    print('Recall:',recall_score(y_test_density, pred_y,average='macro'))
    print('F1 Score:',f1_score(y_test_density, pred_y,average='macro'))
    print('------------------------------------------------------------')
    
    print(conf_mat)
    
    return d_tree

In [49]:
d_tree_tuning(X_train_density,y_train_density,X_test_density,y_test_density,'gini','best',None,None)

Accuracy: 0.7814309845559846
Precision: 0.8272306397306397
Recall: 0.7814309845559846
F1 Score: 0.8019574164695207
------------------------------------------------------------

               Predicted Positive  Predicted Negative
True Positive                 251                   8
True Negative                  13                  19

In [50]:
d_tree_tuning(X_train_density,y_train_density,X_test_density,y_test_density,'entropy','best',None,None)

Accuracy: 0.7677364864864865
Precision: 0.8336842105263158
Recall: 0.7677364864864865
F1 Score: 0.7957894736842104
------------------------------------------------------------

               Predicted Positive  Predicted Negative
True Positive                 252                   7
True Negative                  14                  18

In [51]:
# Best condition for each case
d_tree_tuning(X_train_density,y_train_density,X_test_density,y_test_density,'gini','best',1,None)
d_tree_tuning(X_train_density,y_train_density,X_test_density,y_test_density,'entropy','best',2,None)
d_tree_tuning(X_train_density,y_train_density,X_test_density,y_test_density,'entropy','random',4,None)
d_tree_tuning(X_train_density,y_train_density,X_test_density,y_test_density,'gini','random',3,None)

Accuracy: 0.910472972972973
Precision: 0.8253012048192772
Recall: 0.910472972972973
F1 Score: 0.8606618429453075
------------------------------------------------------------
Accuracy: 0.910472972972973
Precision: 0.8253012048192772
Recall: 0.910472972972973
F1 Score: 0.8606618429453075
------------------------------------------------------------
Accuracy: 0.9143339768339769
Precision: 0.8420318725099601
Recall: 0.9143339768339769
F1 Score: 0.873202614379085
------------------------------------------------------------
Accuracy: 0.9124034749034748
Precision: 0.8334634146341464
Recall: 0.9124034749034748
F1 Score: 0.8668622332265792
------------------------------------------------------------

               Predicted Positive  Predicted Negative
True Positive                 246                  13
True Negative                   4                  28

In [62]:
model = d_tree_tuning(X_train_density,y_train_density,X_test_density,y_test_density,'entropy','random',4)

Accuracy: 0.9143339768339769
Precision: 0.8420318725099601
Recall: 0.9143339768339769
F1 Score: 0.873202614379085
------------------------------------------------------------
               Predicted Positive  Predicted Negative
True Positive                 247                  12
True Negative                   4                  28

Best case is entropy with random split and max_depth is 4

In [53]:
unseen = pd.read_csv('Ecoli_test.csv')

In [56]:
unseen.describe()

,Num (Col 1),Num (Col 2),Num (Col 3),Num (Col 4),Num (Col 5),Num (Col 6),Num (Col 7),Num (Col 8),Num (Col 9),Num (Col 10),...,Num (Col 97),Num (Col 98),Num (Col 99),Num (Col 100),Num (Col 101),Num (Col 102),Num (Col 103),Nom (Col 104),Nom (Col 105),Nom (Col 106)
count,917.000000,917.000000,917.000000,917.000000,917.000000,917.000000,917.000000,917.000000,917.000000,917.000000,...,917.000000,917.000000,917.000000,917.000000,917.000000,917.000000,917.000000,917.000000,917.000000,917.000000
mean,-0.023332,0.025964,0.020080,0.001073,0.003766,-0.018407,0.050299,-0.000389,-0.009512,0.000921,...,0.014690,-0.021399,0.016425,0.028398,0.000647,-0.014615,-0.004496,0.014177,0.087241,0.099237
std,0.459724,1.048645,0.344410,0.501445,0.127841,0.784300,0.819222,0.283725,0.180563,0.855349,...,0.910481,0.993437,0.364408,0.979595,0.042575,0.406017,0.583364,0.118283,0.282342,0.299143
min,-1.479798,-4.064456,-1.362933,-2.617028,-0.587306,-2.910559,-2.728344,-0.771571,-0.269025,-3.030685,...,-1.901422,-2.573980,-1.206166,-3.558918,-0.253874,-1.490914,-2.034481,0.000000,0.000000,0.000000
25%,-0.340310,-0.695123,-0.214839,-0.312888,-0.084985,-0.544121,-0.462047,-0.178555,-0.135949,-0.609728,...,-0.556197,-0.696773,-0.223030,-0.644451,-0.026222,-0.275083,-0.390690,0.000000,0.000000,0.000000
50%,-0.065084,0.029788,0.017373,0.031883,-0.011883,-0.048255,0.061963,-0.022499,-0.079282,-0.003942,...,-0.251530,-0.056272,0.011173,0.137589,-0.000009,-0.032302,-0.056184,0.000000,0.000000,0.000000
75%,0.268905,0.707927,0.256265,0.371009,0.077098,0.467804,0.560527,0.156021,0.087744,0.591591,...,0.405205,0.559625,0.243358,0.656560,0.027504,0.203499,0.317633,0.000000,0.000000,0.000000
max,1.480368,3.280585,1.193348,3.002927,0.484221,2.302435,2.393791,1.814198,0.975731,2.575844,...,4.384433,5.145295,1.481196,2.684489,0.161583,1.802825,2.468140,1.000000,1.000000,1.000000

In [58]:
unseen.isnull().sum(axis = 0).tolist()

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [64]:
y_pred = model.predict(unseen)

In [74]:
pred_lst = y_pred.tolist()

In [95]:
pred_df = pd.DataFrame(pred_lst)
accuracy = 0.914
f1 = 0.873
measure = [[accuracy,f1]]
measure_df = pd.DataFrame(measure)

In [96]:
measure_df

       0      1
0  0.914  0.873

In [97]:
pred_df.to_csv('s4633701.csv', header = None, index = None)
measure_df.to_csv('s4633701.csv',mode = 'a',header = None, index = None)